@import "tailwindcss";

@theme {
  
  --color-brand-bg: #ADD8E6; 
  --color-brand-card: #F3EBEB;
  --color-primary: #386B6A;   
  --color-secondary: #384B6B;  
  --color-accent-light: #B7EBA;
  --color-text-main: #1A1A1A;

  /* Tipografía-familias  */
 
  --font-istok: "Istok Web", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-amiko: "Amiko", sans-serif;

  /*  Tamaños de letras */
  --text-h1: 70px;
  --text-h2: 25px;
  --text-p: 15px;
}

@layer components {
  .typography {
    
    h1 {
      font-family: var(--font-istok);
      font-weight: var(--font-weight-bold);
      font-size: var(--text-h1);
      color: var(--color-secondary);
      margin-bottom: var(--spacing-4);
    }

    h2 {
      font-family: var(--font-amiko);
      font-weight: var(--font-weight-semibold);
      font-size: var(--text-h2);
      color: var(--color-text-main);
      margin-bottom: var(--spacing-2);
    }

    p {
      font-family: var(--font-inter);
      font-weight: var(--font-weight-normal);
      font-size: var(--text-p);
      color: var(--color-text-main);
      line-height: 1.5;
    }
   
    a {
      font-family: var(--font-inter);
      font-size: var(--text-p);
      color: var(--color-primary);
      font-weight: var(--font-weight-medium);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}